.signuperror {
    color: red;
    border-radius: 3px;
    border: 1px solid red;
    text-align: center;
    vertical-align: middle;
    margin: 10px 0;
    padding: 5px;
}
.signupsuccess {
    color: green;
    border-radius: 3px;
    border: 1px solid green;
    text-align: center;
    vertical-align: middle;
    margin: 10px 0;
    padding: 5px;
}
